### Content Based Recommendations

In the previous notebook, you were introduced to a way to make recommendations using collaborative filtering.  However, using this technique there are a large number of users who were left without any recommendations at all.  Other users were left with fewer than the ten recommendations that were set up by our function to retrieve...

In order to help these users out, let's try another technique **content based** recommendations.  Let's start off where we were in the previous notebook.

In [1]:
!pip install progressbar

Collecting progressbar
  Downloading progressbar-2.5.tar.gz (10 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: progressbar
  Building wheel for progressbar (setup.py) ... done
  Created wheel for progressbar: filename=progressbar-2.5-py3-none-any.whl size=12082 sha256=ef57684ead3bd3b3250fb266f662ee696aa1af4e6be91bec517b5d0b71f71ed9
  Stored in directory: /Users/mxagar/Library/Caches/pip/wheels/f0/fd/1f/3e35ed57e94cd8ced38dd46771f1f0f94f65fec548659ed855
Successfully built progressbar
Installing collected packages: progressbar
Successfully installed progressbar-2.5

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import ast
from collections import defaultdict
from IPython.display import HTML
import progressbar
import tests as t
import pickle

%matplotlib inline

# Read in the datasets
movies = pd.read_csv('movies_clean.csv')
reviews = pd.read_csv('reviews_clean.csv')

del movies['Unnamed: 0']
del reviews['Unnamed: 0']

In [12]:
movies.head()

,movie_id,movie,genre,date,1800's,1900's,2000's,Documentary,Adventure,Animation,...,War,Romance,Musical,Film-Noir,Sport,Mystery,Western,Horror,Comedy,Music
0,8,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short,1894,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,10,La sortie des usines Lumière (1895),Documentary|Short,1895,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,12,The Arrival of a Train (1896),Documentary|Short,1896,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,25,The Oxford and Cambridge University Boat Race ...,NaN,1895,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,91,Le manoir du diable (1896),Short|Horror,1896,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [113]:
movies.shape

(35479, 35)

In [22]:
reviews.head()

   user_id  movie_id  rating   timestamp                 date
0        1    114508       8  1381006850  2013-10-05 21:00:50
1        2    208092       5  1586466072  2020-04-09 21:01:12
2        2    358273       9  1579057827  2020-01-15 03:10:27
3        2  10039344       5  1578603053  2020-01-09 20:50:53
4        2   6751668       9  1578955697  2020-01-13 22:48:17

In [85]:
users = np.unique(reviews['user_id'])
print(users)

[   1    2    3 ... 8020 8021 8022]

In [6]:
# Do not change this code
# This loads our solution dictionary (key: user_id and value: an array of recommended movie titles)
all_recs = {}
with open("all_recs.txt", newline="") as csvfile:
    data = csv.reader(csvfile, delimiter=",")
    for row in data:
        val = ast.literal_eval(row[1])
        all_recs[int(row[0])] = val

In [21]:
list(all_recs.items())[:3]

[(2,
  ['The Big Sleep (1946)',
   'A Streetcar Named Desire (1951)',
   "Ascenseur pour l'échafaud (1958)",
   'À bout de souffle (1960)',
   'Le petit soldat (1963)',
   'Vivre sa vie: Film en douze tableaux (1962)',
   "2 ou 3 choses que je sais d'elle (1967)",
   'The Way We Were (1973)',
   'A Woman Under the Influence (1974)',
   'Barry Lyndon (1975)',
   'Apocalypse Now (1979)',
   'El-haimoune (1984)',
   'Paris, Texas (1984)',
   'Au revoir les enfants (1987)',
   'Akira (1988)',
   'Goodfellas (1990)',
   'Trois couleurs: Bleu (1993)',
   'Legends of the Fall (1994)',
   'Trois couleurs: Blanc (1994)',
   'Faa yeung nin wa (2000)',
   'Chun gwong cha sit (1997)',
   'Elizabeth (1998)',
   'La fille sur le pont (1999)',
   'Lilja 4-ever (2002)',
   'Cidade de Deus (2002)',
   'Brokeback Mountain (2005)',
   'Elizabeth: The Golden Age (2007)',
   'The Tree of Life (2011)',
   'Papurika (2006)',
   'Doubt (2008)',
   '4 luni, 3 saptamâni si 2 zile (2007)',
   'Incendies (2010)',
   'Kynodontas (2009)',
   'Prisoners (2013)',
   "J'ai tué ma mère (2009)",
   'Oslo, 31. august (2011)',
   'The Double (2013)',
   'Oh Boy (2012)',
   'Searching for Sugar Man (2012)',
   'La grande bellezza (2013)',
   'Lady Bird (2017)',
   'The Ottoman Lieutenant (2016)',
   'Forushande (2016)',
   'Wind River (2017)',
   'The Shape of Water (2017)',
   'The Killing of a Sacred Deer (2017)',
   'Columbus (2017)',
   'A Ghost Story (2017)']),
 (3,
  ['Life of Pi (2012)',
   'The Prestige (2006)',
   'Man of Steel (2013)',
   'World War Z (2013)',
   'The Belko Experiment (2016)',
   'Disconnect (2012)',
   'The Conjuring (2013)',
   'Think Like a Man (2012)',
   'The Intouchables (2011)',
   'Think Like a Man Too (2014)',
   'The Heat (2013)',
   'Omar (2013)',
   'The Boss Baby (2017)',
   'Why Him? (2016)',
   'Get Out (2017)',
   'Life (2017)']),
 (4,
  ['Le professionnel (1981)',
   'The Secret Life of Walter Mitty (2013)',
   'Zatôichi (2003)',
   'Mr. Nobody (2009)',
   'Dallas Buyers Club (2013)',
   'How to Train Your Dragon (2010)',
   'Hugo (2011)',
   'Bad Teacher (2011)',
   '47 Ronin (2013)',
   'Filth (2013)',
   'Napapiirin sankarit (2010)',
   'Horrible Bosses (2011)',
   'Captain Phillips (2013)',
   'How to Train Your Dragon 2 (2014)',
   'Lo imposible (2012)',
   'Grudge Match (2013)',
   'Despicable Me 2 (2013)',
   'Kochegar (2010)',
   'La migliore offerta (2013)',
   'The Hangover Part III (2013)',
   'Machete Kills (2013)',
   '12 Years a Slave (2013)',
   'The Physician (2013)',
   'The Grand Budapest Hotel (2014)',
   'The Family (2013)',
   'Kvinden i buret (2013)',
   'A Million Ways to Die in the West (2014)',
   'Birdman (2014)'])]

### Datasets

From the above, you now have access to three important items that you will be using throughout the rest of this notebook.  

`a.` **movies** - a dataframe of all of the movies in the dataset along with other content related information about the movies (genre and date)


`b.` **reviews** - this was the main dataframe used before for collaborative filtering, as it contains all of the interactions between users and movies.


`c.` **all_recs** - a dictionary where each key is a user, and the value is a list of movie recommendations based on collaborative filtering

For the individuals in **all_recs** who did recieve 10 recommendations using collaborative filtering, we don't really need to worry about them.  However, there were a number of individuals in our dataset who did not receive any recommendations.

-----

`1.` To begin, let's start with finding all of the users in our dataset who didn't get all 10 ratings we would have liked them to have using collaborative filtering.

In [27]:
users_with_all_recs = [k for k,v in all_recs.items()]
# Convert `all_recs` dictionary into array of users with all recommendations

print("There are {} users with all reccomendations from collaborative filtering.".format(len(users_with_all_recs)))

users_who_need_recs = set(reviews.user_id.unique()).difference(set(users_with_all_recs))

print("There are {} users who still need recommendations.".format(len(users_who_need_recs)))
print("This means that only {}% of users received all 10 of their recommendations using collaborative filtering".format(round(len(users_with_all_recs)/len(np.unique(reviews['user_id'])), 4)*100))

There are 3494 users with all reccomendations from collaborative filtering.
There are 4528 users who still need recommendations.
This means that only 43.56% of users received all 10 of their recommendations using collaborative filtering

In [28]:
# Some test here might be nice
assert len(users_who_need_recs) == 4528
print("That's right there were still another 4528 users who needed recommendations when we only used collaborative filtering!")

That's right there were still another 4528 users who needed recommendations when we only used collaborative filtering!

### Content Based Recommendations

You will be doing a bit of a mix of content and collaborative filtering to make recommendations for the users this time.  This will allow you to obtain recommendations in many cases where we didn't make recommendations earlier.     

`2.` Before finding recommendations, rank the user's ratings from highest ratings to lowest ratings. You will move through the movies in this order looking for other similar movies.

In [36]:
# create a dataframe similar to reviews, but ranked by rating for each user
ranked_reviews = reviews.sort_values(by=["user_id", "rating"], ascending=[True, False])

In [37]:
ranked_reviews.head(10)

    user_id  movie_id  rating   timestamp                 date
0         1    114508       8  1381006850  2013-10-05 21:00:50
9         2   8579674      10  1579261830  2020-01-17 11:50:30
2         2    358273       9  1579057827  2020-01-15 03:10:27
4         2   6751668       9  1578955697  2020-01-13 22:48:17
5         2   7131622       8  1579559244  2020-01-20 22:27:24
8         2   8367814       8  1586436354  2020-04-09 12:45:54
10        2   8946378       8  1584300027  2020-03-15 19:20:27
7         2   7984734       7  1579949842  2020-01-25 10:57:22
6         2   7975244       6  1583706305  2020-03-08 22:25:05
1         2    208092       5  1586466072  2020-04-09 21:01:12

### Similarities

In the collaborative filtering sections, you became quite familiar with different methods of determining the similarity (or distance) of two users.  We can perform similarities based on content in much the same way.  

In many cases, it turns out that one of the fastest ways we can find out how similar items are to one another (when our matrix isn't totally sparse like it was in the earlier section) is by simply using matrix multiplication.  If you are not familiar with this, an explanation is available [here by 3blue1brown](https://www.youtube.com/watch?v=LyGKycYT2v0) and another quick explanation is provided [on the post here](https://math.stackexchange.com/questions/689022/how-does-the-dot-product-determine-similarity).

For us to pull out a matrix that describes the movies in our dataframe in terms of content, we might just use the indicator variables related to **year** and **genre** for our movies.  

Then we can obtain a matrix of how similar movies are to one another by taking the dot product of this matrix with itself.  Notice in the below that the dot product where our 1 values overlap gives a value of 2 indicating higher similarity.  In the second dot product, the 1 values don't match up.  This leads to a dot product of 0 indicating lower similarity.

<img src="images/dotprod1.png" alt="Dot Product" height="500" width="500">

We can perform the dot product on a matrix of movies with content characteristics to provide a movie by movie matrix where each cell is an indication of how similar two movies are to one another.  In the below image, you can see that movies 1 and 8 are most similar, movies 2 and 8 are most similar and movies 3 and 9 are most similar for this subset of the data.  The diagonal elements of the matrix will contain the similarity of a movie with itself, which will be the largest possible similarity (which will also be the number of 1's in the movie row within the orginal movie content matrix.

<img src="images/moviemat.png" alt="Dot Product" height="500" width="500">


`3.` Create a numpy array that is a matrix of indicator variables related to year (by century) and movie genres by movie.  Perform the dot prodoct of this matrix with itself (transposed) to obtain a similarity matrix of each movie with every other movie.  The final matrix should be 31245 x 31245.

In [51]:
movies.head()
#movies.columns[4:]
#movies.loc[movies.movie_id == 8].values[0,4:]

,movie_id,movie,genre,date,1800's,1900's,2000's,Documentary,Adventure,Animation,...,War,Romance,Musical,Film-Noir,Sport,Mystery,Western,Horror,Comedy,Music
0,8,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short,1894,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,10,La sortie des usines Lumière (1895),Documentary|Short,1895,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,12,The Arrival of a Train (1896),Documentary|Short,1896,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,25,The Oxford and Cambridge University Boat Race ...,NaN,1895,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,91,Le manoir du diable (1896),Short|Horror,1896,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [ ]:
# Subset so movie_content is only using the dummy variables for each genre and the 3 century based year dummy columns
# Take the dot product to obtain a movie x movie matrix of similarities
# WARNING: the matrix is symmetric, so we could avoid half of the computations...
# WARNING: this cell takes long...
dot_prod_movies = np.zeros((movies.shape[0], movies.shape[0]))
for i, movie_i in enumerate(movies.movie_id.values):
    for j, movie_j in enumerate(movies.movie_id.values):
        movie_i_values = movies.loc[movies.movie_id == movie_i].values[0,4:]
        movie_j_values = movies.loc[movies.movie_id == movie_j].values[0,4:]
        sim = np.dot(movie_i_values, movie_j_values)
        dot_prod_movies[i,j] = sim

In [56]:
# A much better way: transpose dot product!
movie_content = np.array(movies.iloc[:,4:])
dot_prod_movies = movie_content.dot(np.transpose(movie_content))

In [57]:
dot_prod_movies

array([[3, 3, 3, ..., 1, 1, 0],
       [3, 3, 3, ..., 1, 1, 0],
       [3, 3, 3, ..., 1, 1, 0],
       ...,
       [1, 1, 1, ..., 2, 2, 1],
       [1, 1, 1, ..., 2, 2, 1],
       [0, 0, 0, ..., 1, 1, 1]])

In [58]:
# create checks for the dot product matrix
assert dot_prod_movies.shape[0] == 35479
assert dot_prod_movies.shape[1] == 35479
assert dot_prod_movies[0, 0] == np.max(dot_prod_movies[0])
print("Looks like you passed all of the tests.  Though they weren't very robust - if you want to write some of your own, I won't complain!")

Looks like you passed all of the tests.  Though they weren't very robust - if you want to write some of your own, I won't complain!

### For Each User...


Now that you have a matrix where each user has their ratings ordered.  You also have a second matrix where movies are each axis, and the matrix entries are larger where the two movies are more similar and smaller where the two movies are dissimilar.  This matrix is a measure of content similarity. Therefore, it is time to get to the fun part.

For each user, we will perform the following:

    i. For each movie, find the movies that are most similar that the user hasn't seen.

    ii. Continue through the available, rated movies until 10 recommendations or until there are no additional movies.

As a final note, you may need to adjust the criteria for 'most similar' to obtain 10 recommendations.  As a first pass, I used only movies with the highest possible similarity to one another as similar enough to add as a recommendation.

`3.` In the below cell, complete each of the functions needed for making content based recommendations.

In [66]:
movies.loc[movies.movie_id == 91].index[0]

4

In [67]:
df_sim = pd.DataFrame(dot_prod_movies)

In [75]:
df_sim.iloc[4].sort_values(ascending=False)[1:11].index

Int64Index([5, 0, 23014, 33487, 26832, 22963, 10177, 5409, 15579, 30305], dtype='int64')

In [101]:
def get_movie_names(movie_ids):
    '''
    INPUT
    movie_ids - a list of movie_ids
    OUTPUT
    movies - a list of movie names associated with the movie_ids
    
    '''
    movie_lst = [movies.loc[movies.movie_id == movie_id, 'movie'].values[0] for movie_id in movie_ids]
   
    return movie_lst

def find_similar_movies(movie_id):
    '''
    INPUT
    movie_id - a movie_id 
    OUTPUT
    similar_movies - an array of the most similar movies by title
    '''
    movie_index = movies.loc[movies.movie_id == movie_id].index[0]
    movie_indices = list(df_sim.iloc[movie_index].sort_values(ascending=False)[1:11].index)
    movie_ids = [movies.iloc[movie_indx]['movie_id'] for movie_indx in movie_indices]
    similar_movies = get_movie_names(movie_ids)
    return similar_movies

def make_recs():
    '''
    INPUT
    None
    OUTPUT
    recs - a dictionary with keys of the user and values of the recommendations
    '''
    # Create dictionary to return with users and ratings
    recs = defaultdict(set)
    # How many users for progress bar
    n_users = len(users)

    
    # Create the progressbar
    # https://progressbar-2.readthedocs.io/en/latest/
    cnter = 0
    bar = progressbar.ProgressBar(maxval=n_users+1,
                                  term_width=50,
                                  widgets=[progressbar.Bar('=', '[', ']'), 
                                           '->',
                                           progressbar.Percentage()])
    bar.start()
    
    # For each user
    for user in users:
        
        # Update the progress bar
        cnter+=1 
        bar.update(cnter)

        # Pull only the reviews the user has seen
        reviews_temp = ranked_reviews[ranked_reviews['user_id'] == user]
        movies_temp = np.array(reviews_temp['movie_id'])
        movie_names = np.array(get_movie_names(movies_temp))

        # Look at each of the movies (highest ranked first), 
        # pull the movies the user hasn't seen that are most similar
        # These will be the recommendations - continue until 10 recs 
        # or you have depleted the movie list for the user
        for movie in movies_temp:
            rec_movies = find_similar_movies(movie)
            temp_recs = np.setdiff1d(rec_movies, movie_names)
            recs[user].update(temp_recs)

            # If there are more than 
            if len(recs[user]) > 9:
                break

    bar.finish()
    
    return recs

In [102]:
find_similar_movies(91)

['Une nuit terrible (1896)',
 'Edison Kinetoscopic Record of a Sneeze (1894)',
 'Lo que quiero de ti (2012)',
 'Zygote (2017)',
 'Invocation (2013)',
 'Sallie Gardner at a Gallop (1878)',
 'Annabelle Serpentine Dance (1895)',
 'Zánik domu Usheru (1982)',
 'A Terrorist Ate My Brain (2006)',
 'Pyotr495 (2016)']

In [103]:
recs = make_recs()

[==========================================]->100%

In [105]:
#recs

### How Did We Do?

Now that you have made the recommendations, how did we do in providing everyone with a set of recommendations?

`4.` Use the cells below to see how many individuals you were able to make recommendations for, as well as explore characteristics about individuals who you were not able to make recommendations for.

In [106]:
# Explore recommendations for
# users without all 10 recommendations and store it in `users_without_all_recs=[]`
# users with all 10 recommendations and store it in users_with_all_recs=[]
# users with no recommendations at all and store it in no_recs=[]
users_without_all_recs = []
users_with_all_recs = []
no_recs = []
for user, movie_recs in recs.items():
    if len(movie_recs) < 10:
        users_without_all_recs.append(user)
    if len(movie_recs) > 9:
        users_with_all_recs.append(user)
    if len(movie_recs) == 0:
        no_recs.append(user)

In [107]:
# Some characteristics of my content based recommendations
print("There were {} users without all 10 recommendations we would have liked to have.".format(len(users_without_all_recs)))
print("There were {} users with all 10 recommendations we would like them to have.".format(len(users_with_all_recs)))
print("There were {} users with no recommendations at all!".format(len(no_recs)))

There were 483 users without all 10 recommendations we would have liked to have.
There were 7539 users with all 10 recommendations we would like them to have.
There were 0 users with no recommendations at all!

In [110]:
# Closer look at individual user characteristics
user_items = reviews[['user_id', 'movie_id', 'rating']]
user_by_movie = user_items.groupby(['user_id', 'movie_id'])['rating'].max().unstack()

def movies_watched(user_id):
    '''
    INPUT:
    user_id - the user_id of an individual as int
    OUTPUT:
    movies - an array of movies the user has watched
    '''
    movies = user_by_movie.loc[user_id][user_by_movie.loc[user_id].isnull() == False].index.values
    
    return movies

movies_watched(189)

array([1392214, 1454468])

In [112]:
cnter = 0
print("Some of the movie lists for users without any recommendations include:")
for user_id in no_recs:
    print(user_id)
    print(get_movie_names(movies_watched(user_id)))
    cnter+=1
    if cnter > 10:
        break

Some of the movie lists for users without any recommendations include:

### Now What?  

Well, if you were really strict with your criteria for how similar two movies (like I was initially), then you still have some users that don't have all 10 recommendations (and a small group of users who have no recommendations at all). 

As stated earlier, recommendation engines are a bit of an **art** and a **science**.  There are a number of things we still could look into - how do our collaborative filtering and content based recommendations compare to one another? How could we incorporate user input along with collaborative filtering and/or content based recommendations to improve any of our recommendations?  How can we truly gain recommendations for every user?

`5.` In this last step feel free to explore any last ideas you have with the recommendation techniques we have looked at so far.  You might choose to make the final needed recommendations using the first technique with just top ranked movies.  You might also loosen up the strictness in the similarity needed between movies.  Be creative and share your insights with your classmates!

In [ ]:
# Cells for exploring